<div class="flex justify-center">
    <div class="w-2/4" v-if="shopBar.length !== 0">
        <button type="button" v-if="shopBar.length !== 0" @click="orderProduct"
                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Commander
        </button>
        <div class="overflow-x-auto relative">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Product name
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Price
                    </th>
                </tr>
                </thead>
                <tbody>
                <ShopSideBar v-for="shopElement in shopBar" :key="shopElement.id" :shopBar="shopElement"/>
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex flex-wrap justify-evenly" xmlns="http://www.w3.org/1999/html">
        <ProductCard class="my-5" v-for="product in products" :key="product.id" :product="product"
                     @add-to-cart="addToCart"/>
    </div>
</div>
<a v-for="page in pages" :key="page" @click="changePage(page)"
   :class="{'bg-blue-700 hover:bg-blue-800 text-white': page !== currentPage, 'text-black border border-gray-200': page === currentPage}"
   class="focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{
        page
    }}</a>
