<div class="flex flex-wrap justify-evenly">
    <ProductCard class="my-5" v-for="product in products" :key="product.id" :product="product" />
</div>
<!--<SwitchComponents/>-->
<a v-for="page in pages" :key="page" @click="changePage(page)" :class="{'bg-blue-700 hover:bg-blue-800 text-white': page !== currentPage, 'text-black border border-gray-200': page === currentPage}" class="focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{ page }}</a>
